.container {
    width: 100%;
    min-height: 100vh;
}

.mainContent {
    width: 70%;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 768px) {
    .mainContent {
        flex-direction: row;
        align-items: flex-start;
    }

    .profileSection {
        width: 296px;
        /* Fixed width for profile sidebar */
        flex-shrink: 0;
    }

    .contentSection {
        flex-grow: 1;
        padding-left: 24px;
    }
}

.profileSection {
    width: 100%;
}

.contentSection {
    color: #c9d1d9;
}