.header {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    color: #ffffff;
}

.headerFixed {
    position: fixed;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(15, 16, 16, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.headerContent {
    background-color: #0F1010;
    border-radius: 60px;
    width: 70%;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.scrolled {
    background: rgba(15, 16, 16, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: rgb(22, 22, 22) 0px 6px 24px 0px, rgba(28, 28, 28, 0.892) 0px 0px 0px 1px;
}

.headerIcons {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 20px;
}

.headerTextColor {
    color: rgba(255, 255, 255, 0.8);
}

.text1Em {
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
}

.text1Em a {
    text-decoration: none;
    color: aliceblue;
}

.icon {
    width: 28px;
    height: 28px;
    padding: 6px 5px 3px 4px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.icon:hover {
    border-radius: 6px;
    color: aliceblue;
    background: rgba(34, 34, 34, 1);
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}